# PostgreSQL Database URL
DATABASE_URL="postgresql://user:password@localhost:5432/retailflow_db"

# Application Deployment Environment (development | staging | production)
NEXT_PUBLIC_APP_ENV="development"
